
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-10% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 about-left-w3pvt offset-lg-1">
                <div class="main-img">
                    <img src="~/Content/images/ab.jpg" alt="" class="img-fluid pos-aboimg">
                    <img src="~/Content/images/images.jpg" alt="" class="img-fluid pos-aboimg2">
                </div>
            </div>
            <div class="col-lg-6 about-right offset-lg-1" style="text-align:justify!important">
                <h3 class="sub-tittle-w3layouts let" style="color:darkgreen!important"><b>Chính sách bảo hành</b></h3>
                <p class="mt-4 mb-5" style="color:gray !important">
                    <b>1. Thời hạn bảo hành cây cảnh</b><br/>
                    Tất cả các sản phẩm được phân phối từ Web Cây Cảnh đều được bảo hành 7 ngày kể từ lúc giao hàng<br/>
                    <b>2. Điều kiện bảo hành cây cảnh</b><br/>
                    Sản phẩm sẽ được bảo hành nếu thoả mãn các điều kiện sau:<br/>
                    a. Sản phẩm còn trong hạn bảo hành.<br/>
                    b. Hư hỏng do chất lượng sản phẩm.<br/>
                    c. Sản phẩm không nằm trong trường hợp bị từ chối bảo hành cây cảnh.<br/>
                    <b>3. Điều kiện từ chối bảo hành</b><br/>
                    Sản phẩm thuộc một trong những điều kiện sau sẽ bị từ chối bảo hành:<br/>
                    a. Sản phẩm đã quá thời gian bảo hành<br/>
                    b. Sản phẩm bị hư do thiên tai, hoả hoạn.<br />
                    c. Sản phẩm bị hư do chăm sóc sai hướng dẫn.<br />
                    d. Khách hàng gây nên những khuyết tật như biến dạng, rơi vỡ , trầy xướt.<br />
                    e. Sản phẩm để sai môi trường khuyến cáo.<br />
                    f. Sản phẩm bị thay đổi, trồng lại không phải do nhân viên của Web Cây Cảnh.<br />
                    g. Sản phẩm không mua từ Web Cây Cảnh.
                    i. Không bảo hành vật dụng kèm theo nếu có.<br />
                </p>
            </div>
        </div>
    </div>
</section>


