
@{
    ViewBag.Title = "Bao mat";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-17% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-right offset-lg-1">
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Lê Văn Long</span>Giám đốc công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
        </div>
        <div style="text-align:justify !important">
            <p class="mt-4 mb-5" style="color:black; font-style:oblique;text-align:justify !important">
                <h3 style="color:forestgreen; text-align:center"><b>Chính sách bảo mật thông tin khách hàng</b></h3>
                Chúng tôi cam kết sẽ bảo mật những thông tin mang tính riêng tư của khách hàng. Quý khách vui lòng đọc bản “Chính sách bảo mật thông tin” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
                <h4 style="margin-top:1%">1. Thu thập thông tin cá nhân</h4>
                – Các thông tin thu thập thông qua website giúp chúng tôi bao gồm:<br/>
                • Hỗ trợ khách hàng khi mua sản phẩm.<br/>
                • Giải đáp thắc mắc khách hàng.<br/>
                • Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi.<br/>
                • Xem xét và nâng cấp nội dung và giao diện của Website.<br/>
                • Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của Web Cây Cảnh.<br/>
                – Để truy cập và sử dụng một số dịch vụ tại website của chúng tôi, quý khách có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (bao gồm họ tên, email, số điện thoại liên lạc, địa chỉ). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. Web Cây Cảnh không chịu bất cứ trách nhiệm nào liên quan đến pháp luật của thông tin khai báo.<br/>
                – Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click và những thông tin khác. Chúng tôi cũng thu thập các thông tin mà trình duyệt web quý khách đang sử dụng mỗi khi truy cập vào website của chúng tôi , bao gồm: địa chỉ IP, loại trình duyệt, ngôn ngữ sử dụng, thời gian và những địa chỉ mà trình duyệt này truy xuất đến.<br/>   
                <h4 style="margin-top:1%">2. Sử dụng thông tin cá nhân</h4>
                – Chúng tôi có thể thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật thông tin” này.<br/>
                – Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư điện tử, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm cây cảnh, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.<br/>
                <h4 style="margin-top:1%">3. Chia sẻ thông tin cá nhân</h4>
                – Ngoại trừ các trường hợp về Sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.<br/>
                – Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án. Bên thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành dự án.<br/>
                – Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau:<br/> (a) Khi có yêu cầu của các cơ quan pháp luật;<br/> (b) Trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật;<br/> (c) Tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên khác của chúng tôi.<br/>
                <h4 style="margin-top:1%">4. Truy xuất thông tin cá nhân</h4>
                – Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết (links) thích hợp mà chúng tôi cung cấp.
                <h4 style="margin-top:1%">5. Truy xuất thông tin cá nhân</h4>
                – Khi bạn gửi thông tin cá nhân của bạn cho chúng tôi, bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, chúng tôi cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.<br/>
                – Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin quý khách cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn, và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của quý khách như các trường hợp quý khách tự ý chia sẻ thông tin với người khác…. Nếu quý khách không đồng ý với các điều khoản như đã mô tả ở trên, Chúng tôi khuyên quý khách không nên gửi thông tin đến cho chúng tôi.<br/>
                <h4 style="margin-top:1%">6. Truy xuất thông tin cá nhân</h4>
                – Chúng tôi hoàn toàn có thể thay đổi nội dung trong trang này mà không cần phải thông báo trước, để phù hợp với các nhu cầu của chúng tôi cũng như nhu cầu và sự phản hồi từ khách hàng nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên dưới.<br/>
                – Nội dung “Chính sách bảo mật thông tin” này chỉ áp dụng tại trang web của chúng tôi, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại trang này. Chúng tôi khuyến khích bạn đọc kỹ chính sách An toàn và Bảo mật của các trang web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang web thuộc bên thứ ba.<br/>
                – Vì vậy, bạn đã đồng ý rằng, khi bạn sử dụng website của chúng tôi sau khi chỉnh sửa nghĩa là bạn đã thừa nhận, đồng ý tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó, chúng tôi đề nghị bạn nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website cũng như bạn nên đọc và t ham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập.<br/>
             </p>
        </div>
    </div>
</section>


