
@{
    ViewBag.Title = "Cây thủy sinh";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-17% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-right offset-lg-1">
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Nguyễn Văn Hiếu</span>Kỹ sư nông nghiệp, nhân viên công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
        </div>
        <div style="text-align:justify !important">
            <p class="mt-4 mb-5" style="color:black !important">
                <h3 style="color:forestgreen; text-align:center"><b>Cách chăm sóc cây thủy sinh</b></h3>
                Cây thủy sinh có 2 loại một là loại sống dưới nước ở mặt đáy thường là một số loại rêu, tảo…Loại 2 là loại chỉ có phần rễ được tiếp xúc với nước thường được áp dụng để trồng thủy canh, các loại cây cảnh văn phòng, trong nhà. Thì trong bài viết này Web Cây Cảnh xin chia sẻ về cách chăm sóc các loại cây cảnh văn phòng, trong nhà thủy sinh.
                <h4 style="margin-top:1%">1. Cách chăm sóc cây thủy sinh</h4>
                Ưu điểm của cây thủy sinh là sạch sẽ và không mất công chăm sóc nhiều. Chúng ta chỉ cần chú ý vào thời điểm ban đầu, thời điểm mà cây thay đổi môi trường sống.
                <h4 style="margin-top:1%">2. Nơi đặt cây thủy sinh</h4>
                Nên đặt cây ở nơi thoáng gió, dưới ánh điện hoặc có ánh nắng nhẹ buổi sáng sớm và chiều muộn. Tránh để cây dưới nắng gắt, nơi có hơi nóng tỏa ra như ở cục nóng điều hòa, sau cpu máy tính…Vị trí đặt cây khá quan trọng trong việc chăm sóc cây thủy sinh mà bạn cần lưu ý.
                <h4 style="margin-top:1%">3. Nước</h4>
                Bạn cần để ý nước của cây thủy sinh, nhất là thời gian ban đầu nếu nước có mùi thì bạn cần thay nước luôn và loại bỏ rễ thối. Nếu bạn không có thời gian để ý thì thời điểm ban đầu cứ 1 tuần bạn thay nước một lần.<br />
                Khi thay nước nên đổ nước đi, đổ nước lại nhiều lần để tạo không khí trong nước, cây sẽ phát triển rễ tốt hơn
                <h4 style="margin-top:1%">4. Dưỡng chất</h4>
                Bạn có thể cho thêm sỏi vào trong bình để cây bán sỏi lấy dưỡng chất, hoặc không có thể dùng dung dịch thủy sinh cho vào nước nếu bạn cảm thấy cây thiếu dưỡng chất.
                <h4 style="margin-top:1%">5. Lưu ý</h4>
                – Không để cây thủy sinh cửa sổ nắng vì cây thường trong bình thủy sinh, nắng gắt cộng với chiếu qua kính và bình thủy tinh làm môi trường nước nóng lên dễ làm chết cây.<br />
                – Không để nước trong bình đục và có mùi lạ, cần thay nước ngay khi thấy hiện tượng.<br />
                – Nên đổ nước ngập rễ không đổ ngập thân cây, vì chỉ có rễ mới hút nước, phần thân cây không hút được nước.
            </p>
        </div>
        </div>
</section>


