
@{
    ViewBag.Title = "Cây cảnh văn phòng";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-17% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-right offset-lg-1">
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Nguyễn Văn Hiếu</span>Kỹ sư nông nghiệp, nhân viên công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
        </div>
        <div style="text-align:justify !important">
            <p class="mt-4 mb-5" style="color:black !important">
                <h3 style="color:forestgreen; text-align:center"><b>Cách chăm sóc cây cảnh văn phòng</b></h3>
                Một trong những điều được nhiều người quan tâm nhất sau khi đã sở hữu cây cảnh văn phòng, cây phong thủy hay cây để bàn làm việc đó chính là cách chăm sóc. Vậy chăm sóc cây cảnh văn phòng như thế nào? Để cho cây phát triển tốt, lá luôn xanh và tươi, những sai lầm thường hay mắc phải khiến cây chết là gì? Nếu bạn đang quan tâm những điều đó thì hãy theo dõi bài viết dưới đây.
                <h4 style="margin-top:1%">1. Cách chăm sóc cây cảnh văn phòng</h4>
                Cây cảnh văn phòng là loại cây cảnh rất dễ chăm sóc và có ý nghĩa phong thủy như mang đến tài lộc, may mắn, sự thịnh vượng, sức khỏe, sự bảo vệ…Một số cây thường được lựa chọn như: Cây Kim Tiền, cây Kim Ngân, Lưỡi Hổ, Thiết Mộc Lan…Đều là những cây có khả năng sống ở môi trường thiếu sáng và ưa râm mát.
                <h4 style="margin-top:1%">2. Tưới nước</h4>
                Thường nếu để cây ở ngoài trời có nắng và gió thì ngày nào bạn tưới nước cũng được, mỗi ngày tưới qua cho cây để thứ nhất là rửa sạch bụi trên lá giúp cây dễ quang hợp hơn, thông thoáng hơn, và thường tưới và buổi sáng sớm hoặc chiều tối, tránh tưới buổi trưa nắng nóng dễ làm cây sốc nhiệt mà chết. Nhưng thường cây được để ở môi trường văn phòng, có máy lạnh, hoặc trong nhà ít nắng, thiếu gió nên nước có tốc độ bay hơi thấp, đất giữ ẩm lâu. Vì vậy bạn chỉ nên tưới nước 1 tuần/ 2 lần mỗi lần đủ ẩm 1/2 đất là được. Chỉ nên tưới ở gốc còn lá nếu bẩn thì nên dùng khăn ướt lau.<br />
                <h4 style="margin-top:1%">3. Đất</h4>
                Loại đất trồng sẵn ở cây thường đã là loại đất tốt có nhiều mùn đảm bảo cho cây phát triển tốt trong vòng 3 – 6 tháng. Nếu trồng lâu thấy hiện tượng vàng lá do thiếu chất bạn có thể bổ sung đất, mùn, thay đất cho cây hoặc các đơn giản là mua đạm, phân bón tan chậm rắc nên gốc cây là được.
                <h4 style="margin-top:1%">4. Ánh sáng</h4>
                Sống được trong môi trường thiếu sáng nhưng màu sắc của lá sẽ bớt đậm và xanh tươi, vì thế cuối tuần bạn nên để cây ra ngoài hiên để cây có thể tiếp xúc trực tiếp với nắng gió ngoài trời, còn không tốt nhất hay để cây gần cửa sổ nơi có ánh sáng chiếu qua.
                <h4 style="margin-top:1%">5. Vị trí đặt cây</h4>
                Vị trí đặt cây là rất quan trọng ảnh hưởng lớn đến sự phát triển và sống của cây văn phòng, cây trong nhà. Vị trí đặt cây tốt nhất là nơi thoáng mát có ánh nắng nhẹ. Nếu bạn thấy cây phải buộc đặt nơi khuất, tối tăm, ít thoáng thì bạn nên làm theo cách sau:
                Nên để cây ở nơi thoáng có ánh nắng nhẹ hoặc dưới ánh điện
                <b>* Thời điểm đầu nên luân chuyển cây:</b> Khi bạn chuyển cây từ vườn, nơi bán cây cảnh thì môi trường thường đang là môi trường thích hợp cho cây, khi mang về văn phòng, nhà thì điều kiện thay đổi, có cây thì vẫn sống tốt, có cây thì sẽ bị xấu đi, để giảm khả năng cây bị xấu thì bạn nên mang cây ra chỗ thoáng mát. Như vị trí ở ban công, hiên nhà, rồi lại mang vào nơi bạn muốn để. Ban đầu có thể thời gian bạn để bên ngoài nhiều hơn trong nhà, rồi sau đó giảm dần, và khi bạn thấy cây có dấu hiệu phát triển tốt, và thời gian đủ lâu thì lúc đó có thể để cây ở vị trí như mong muốn không cần thay đổi.
                <h4 style="margin-top:1%">6. Những sai lầm thường mắc khi chăm cây cảnh văn phòng</h4>
                – Một trong nhưng sai lầm nhiều người mắc nhất đó là ngày nào cũng tưới nước. Nếu bạn sợ tưới quá tay thì bạn có thể kê chậu cách đất, không bịt lỗ thoát nước dưới đáy chậu để đảm bảo nước có thể chảy ra ngoài nếu tưới nhiều.<br />
                – Quên không tưới nước, khi cây có hiện tượng mềm lá, lá rủ xuống là lúc cây đang thiếu nước, bạn chỉ cần tưới nước hoặc ngâm cây vào trong bồn nước khoảng 1 phút thì cây sẽ lại tươi, tình trạng này hay xảy ra đối với cây để bàn vì lượng đất ít, đất không giữ được nước.<br />
                – Thay đổi đột ngột nhiệt độ, ví dụ bạn đang để cây ở môi trường máy lạnh có nhiệt độ tầm 20 độ rồi giữa trưa nhiệt bên ngoài trên 30 độ hoặc gần 40 độ, bạn mang cây ra ngoài để phơi nắng như vậy cây rất dễ bị sốc nhiệt mà chết.
            </p>
        </div>
        </div>
</section>


