
@{
    ViewBag.Title = "Cây sen đá xương rồng";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-20% !important">
    <div class="col-lg-6 about-right offset-lg-1">
        <ul class="author list-unstyled d-flex">
            <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
            <li class="ml-4 mt-4"><span>Nguyễn Văn Hiếu</span>Kỹ sư nông nghiệp, nhân viên công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
        </ul>
    </div>
    <div style="text-align:justify !important">
        <p class="mt-4 mb-5" style="color:black !important">
            <h3 style="color:forestgreen; text-align:center"><b>Cách chăm sóc cây sen đá, xương rồng</b></h3>
            Người thích trồng cây là những người có tâm hướng thiện, một trong những câu nói mà tôi khá tâm đắc và cũng thấy nó tương đối là chính xác. Lựa chọn cho mình một hoặc nhiều cây xanh để bàn hoặc chăm sóc ở vườn là một quyết định đúng, nó giúp bạn có thể giải tỏa căng thẳng sau những giờ làm việc mệt mỏi. Nhưng các bạn đã biết chăm sóc đúng cách chưa? Mỗi loại cây có một cách chăm sóc khác nhau và sau đây webcaycanh.com xin hướng dẫn cách chăm sóc sen đá và xương rồng.
            <h4 style="margin-top:1%">1. Cách chăm sóc sen đá</h4>
            Điều thú vị và cũng là điều khó khăn chính là duy trì sự sống cho Sen Đá. Nếu bạn là người mua cây thì có 2 yếu tố mà bạn sẽ tác động đến cây làm ảnh hướng lớn đến sự sống còn của sen đá chính là nước và ánh sáng.<br />
            <b>Nước:</b>
            Sen đá có nguồn gốc từ Mexico một trong những đất nước nắng nóng và khô hạn, do vậy những loài cây có thể sống tốt ở đây chính là những loại có thể trữ nước ở lá và thân, và sen đá là một trong những loại như vậy. Nước không quá cần thiết đối với sen đá nhưng vẫn phải đủ để nó có thể duy trì sự sống và phát triển, tuy nhiên nếu sen đá bị sống trong một trường ẩm từ 4 -5 ngày sen đá sẽ bị thối nhũn dần từ gốc và bắt đầu rụng hết lá.<br />
            <b>Cách tưới nước:</b>
            Điều chỉnh lượng nước luôn là một vấn đề không dễ dàng với sen đá. Đối với không khí khô, thời tiết nóng vào mùa hè thì có thể 1 tuần/2 lần, còn thời tiết lạnh, ẩm, mùa đông 2 tuần/lần . Còn thường thì sẽ là 1 tuần chỉ cần tưới nước một lần. Cách tưới tốt nhất là tưới theo kiểu ngấm ngược. Ở mỗi chậu cây sẽ có một lỗ thoát nước, nhưng nó còn có tác dụng là ngấm nước. Bạn có thể đặt cây vào trong khay, bồn nước có mực nước bằng 1/3 chiều cao chậu, sau đó để khoảng 30s với chậu nhỏ và 40s đối với chậy lớn thì nhấc ra. 1 tuần bạn chỉ cần làm như vậy một lần.<br />
            Vì sao nó được coi là cách tối ưu nhất đối với sen đá, sen đá là loại thường có nhiều lá hoặc trên lá có phấn, nếu bạn tưới trực tiếp lên cây thì có thể nước sẽ bị đọng ở trên lá không thoát ra được dẫn đến thì trạng lá bị thối, ngoài ra nếu bạn dội nước mạnh những loài cây có phấn sẽ bị mất đi lớp phấn ở ngoài lá khiến nó không còn đẹp. Nếu điều kiện không cho phép hoặc bạn không thể tưới theo kiểu đó thì hãy cố gắng tưới nước càng gần mép chậu càng tốt.<br />
            Còn một trong những cách nữa mà dành cho người đã trồng lâu lắm, đó là nhìn lá mà tưới nước, xương rồng sen đá rất ít khi chết vì thiếu nước, có những loại bạn để cả tháng không cần tưới cũng không sao, khi lá đủ nước sẽ cứng và căng mọng, khi thiếu nước nó sẽ nhăn nheo và mềm bạn có thể  dựa và đặc tính đó để tưới cho cây. Tối đa cũng chỉ 2 lần trên tuần.<br />
            <b>Ánh sáng:</b>
            Ánh sáng là phần cần thiết nhất đối với loài sen đá. Nên bạn hãy để nó  ở nơi có nhiều ánh nắng, nhất là ánh sáng buổi sớm và chiều tối, ánh sáng tốt nhất là bạn để cây ngoài trời có mái, lưới che đi khoảng 30%.Nếu là cây bạn để trong văn phòng không có ánh sáng thì 2 -3 ngày hãy mang nó ra nắng 1 lần 8h.<br />
            <b>*Chú ý:</b> Nắng rất cần thiết những không có nghĩa là cứ càng nắng càng tốt, nếu bạn đã có con nhỏ thì bạn sẽ biết, ánh nắng rất tốt cho bé và bé cần tắm nắng nhưng không phải là 12h trưa cho bé ra ngoài trời nắng mà phải là ánh nắng nhẹ buổi sáng. Đối với sen đá cũng thế cần nắng không có nghĩa là phơi cây và trưa nắng gắt, điều này khiến sen đá sẽ bị héo lá và mất nước, hãy che nắng cho cây vào những lúc nắng gắt.
            <h4 style="margin-top:1%">2. Cách chăm sóc xương rồng</h4>
            Về cơ bản thì cách chăm sóc xương rồng cũng giống sen đá nên bạn hoàn toàn có thể áp dụng chế độ chăm sóc sen đá đối với xương rồng ngoài ra thì có thể bổ sung thêm phần dinh dưỡng cho đất để xương rồng phát triển tốt hơn và ra hoa.
            <b>Chăm sóc xương rồng từng giai đoạn</b>
            Cây xương rồng và cây mọng nước có nguồn gốc từ những vùng khô cằn, nghèo dinh dưỡng nhưng để có một cây xương rồng hoặc cây mọng nước khoẻ đẹp và phát triển tốt, cây cũng cần cung cấp dinh dưỡng.<br />
            Trong mùa phát triển, cây xương rồng và cây mọng nước đều cần chất đạm (N) để giúp sự tăng trưởng thân, chất potassium (P) cho sự phát triển của hoa và trái và chất phosphorus (P) cho sự phát triển bộ rễ. Ngoài ra, cây cũng cần một số chất vi lượng khác.<br />
            Công thức NPK tổng quát cho cây xương rồng là 15 – 15 – 30.<br />
            Trong thực tế, ta nên bón phân theo thời kỳ sinh trưởng của cây như sau:<br />
            Thời kỳ sinh trưởng: Công thức phân bón N – P2O5 – K2O<br />
            Thời kỳ cây con: 16 – 16 – 8 hoặc 20 – 20 – 0<br />
            Thời kỳ tăng trưởng: 18 – 19 – 30 hoặc 20 – 30 – 20<br />
            Kích thích ra hoa:10 – 60 – 10<br />
            Thời kỳ ra hoa: 6 – 30 – 30<br />
            Hiện nay, trên thị trường có nhiều bình phân bón pha sẵn cho người trồng xương rồng, trong đó có công thức và hướng dẫn cách pha tưới. Liều lượng pha tưới thường vào khoảng 1 – 1.5 g/lít nước.
            Và cách chăm sóc từng giai đoạn này bạn cũng có thể áp dụng cho sen đá.<br />
            <b>*Chú ý:</b>
            – Không tưới nước lúc trời nắng nóng<br />
            – Không để cây dưới mưa<br />
            – Để nơi tránh tầm với của trẻ nhỏ<br />
            – Sen đá và xương rồng cần rất ít nước, bạn hãy nhớ điều đấy, đừng để nó ẩm đất quá lâu<br />
            – Một số loại cây sen đá có màu đỏ, viền hồng, cây dạng đài sen thấp như: Sen đá đất, thái, viền hồng, hồng phấn, sen hồng…Thì 2 – 3 ngày nếu bạn để trong văn phòng thì mang nó ra ngoài chỗ thoáng mát và có ánh nắng nhẹ buổi sáng, tránh nắng gắt buổi trưa để cây luôn đẹp nhé!<br />
            Nước quyết định sự sống và ánh nắng quyết định sắc đẹp của sen đá và xương rồng.<br />
            Vào trời mùa hè nắng gắt các bạn nhớ không để cây dưới ánh nắng, mình có thể dùng lưới đen che đi 30% ánh sáng hoặc đem cây vào chỗ mát có ánh nắng nhẹ.<br />
        </p>
    </div>
</section>


