
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<!-- services -->
<h3 style="text-align:center; color:darkgreen; margin-top:-5%">Dịch vụ của chúng tôi</h3>
<div class="serives-agile py-5" id="services">
    <div class="container-fluid py-xl-5 py-lg-3">
        <div class="row support-bottom text-center">
            <div class="col-md-4 services-w3ls-grid">
                <i class="fa fa-envira" aria-hidden="true"></i>
                <h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Chăm sóc vườn.</h4>
                <p style="text-align:justify">Dịch vụ chăm sóc vườn của chúng tôi đảm bảo uy tín chất lượng, được khách hàng đánh giá cao. Với kinh nghiệm trên 10 năm hoạt động trong lĩnh vực cung cấp dịch vụ chăm sóc vườn cây cảnh tại nhà, dich vu cham soc cây cảnh tại nhà cùng đội ngũ nhân viên là các kiến trúc sư cảnh quan, kỹ sư nông học và thợ làm việc chuyên nghiệp. Hiện nay công ty TNHH WebCayCanh tự hào là một trong những đơn vị cung cấp gói dịch vụ chăm sóc cây cảnh tại nhà,  dịch vụ chăm sóc cây cảnh tại nhà với chất lượng chuẩn 5 sao, bao gồm: dịch vụ dọn dẹp sân vườn, dịch vụ cắt tỉa cây cảnh tại nhà, dịch vụ chăm sóc cây cảnh,...</p>
            </div>
            <div class="col-md-4 services-w3ls-grid my-md-0 my-4">
                <i class="fa fa-tree" aria-hidden="true"></i>
                <h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Cải tạo không gian xanh công ty</h4>
                <p style="text-align:justify">Dịch vụ cải tạo không gian xanh trong công ty của chúng tôi đảm bảo uy tín chất lượng, được khách hàng đánh giá cao. Với kinh nghiệm trên 10 năm hoạt động trong lĩnh vực cung cấp dịch vụ cải tạo không gian xanh cho các doanh nghiệp, tập đoàn, dịch vụ chăm sóc cây cảnh tại các công ty cùng đội ngũ nhân viên là các kiến trúc sư cảnh quan, kỹ sư nông học và thợ làm việc chuyên nghiệp. Hiện nay công ty TNHH WebCayCanh tự hào là một trong những đơn vị cung cấp gói dịch vụ chăm sóc cây cảnh, tạo cảnh quan cho doanh nghiệp với chất lượng chuẩn 5 sao, bao gồm: dịch vụ cắt tỉa cây cảnh tại công ty, dịch vụ chăm sóc cây cảnh, dịch vụ điệt côn trùng, sâu bệnh cho cây...</p>
            </div>
            <div class="col-md-4 services-w3ls-grid">
                <i class="fa fa-pagelines" aria-hidden="true"></i>
                <h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Trang trí cho các cơ quan, nhà hàng, khách sạn,...</h4>
                <p style="text-align:justify">Dịch vụ cải tạo không gian xanh trong công ty của chúng tôi đảm bảo uy tín chất lượng, được khách hàng đánh giá cao. Nhà hàng, khách sạn cũng là một nơi mà cần chú trọng trang trí cây xanh, vừa tạo tính thẩm mỹ, lại làm nên không gian thoải mái, thư giãn để khách hàng được vui vẻ thưởng thức bữa ăn. Tạo cho thực khách một không gian ăn uống đúng nghĩa hòa mình vào thiên nhiên. </p>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>
<!-- //services -->
