
@{
    ViewBag.Title = "Giao hàng";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-17% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-right offset-lg-1">
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Lê Văn Long</span>Giám đốc công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
        </div>
        <div style="text-align:justify !important">
            <p class="mt-4 mb-5" style="color:black; font-style:oblique;text-align:justify !important">
                <h3 style="color:forestgreen; text-align:center"><b>Chính sách giao hàng</b></h3>
                <h4 style="margin-top:1%">1. Phạm vi áp dụng</h4>
                – Tất cả các khách hàng mua sản phẩm tại Website hoặc khách hàng đến trực tiếp xem và mua hàng tại công ty có nhu cầu giao hàng trực tiếp tại nhà.<br />
                <h4 style="margin-top:1%">2. Hình thức áp dụng</h4>
                <b>*Giao hàng miễn phí:</b><br />
                Giao hàng miễn phí trong phạm vi các quận thuộc nội thành Hà Nội và các đại lý của Web Cây Cảnh – áp dụng cho các đơn hàng có giá trị từ 1.000.000 đồng. Không áp dụng với các cá nhân mua buôn.<br />
                <b>*Giao hàng tính phí:</b><br />
                – Ngoài trường hợp giao hàng miễn phí trên, các trường hợp còn lại sẽ được tính phí giao hàng theo bảng phí vận chuyển của hãng vận chuyển thứ 3 hoặc theo bảng phí của công ty. Chi phí này sẽ được công ty thông báo và xác nhận với quý khách trước khi quý khách tiến hành thanh toán và công ty tiến hành gửi hàng.<br />
                <h4 style="margin-top:1%">3. Trách nhiệm với hàng hóa được chuyển</h4>
                – Công ty sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của sản phẩm trong suốt quá trình vận chuyển hàng từ kho của chúng tôi đến quý khách.<br />
                – Quý khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện cây cảnh bị hư hại, gãy cảnh, vỡ chậu, hoặc sai loại cây thì ký xác nhận tình trạng này với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng theo số hotline bán hàng <b>09888.33.653 </b>của Công ty.<br />
                – Sau khi qúy khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. Công ty không có trách nhiệm với những yêu cầu đổi trả từ phía quý khách sau này.<br />
                – Nếu dịch vụ vận chuyển do quý khách chỉ định và lựa chọn thì quý khách sẽ chịu trách nhiệm với chuyến hàng và các rủi ro kèm theo, như mất mát hoặc hư hại hàng trong suốt quá trình vận chuyển hàng từ kho hàng của công ty đến quý khách. Khách hàng sẽ chịu trách nhiệm về cước phí và tổn thất liên quan.<br />
                <h4 style="margin-top:1%">4. Các điều kiện khác</h4>
                – Chính sách giao hàng miễn phí không áp dụng đối với những sản phẩm được mua trong chương trình khuyến mại giờ vàng, giá sốc...<br />
                – Chi phí cầu đường, phí vào thôn xã hoặc phí đỗ xe tại chung cư do khách hàng tự thanh toán.<br />
                – Công ty chỉ giao hàng cho đúng người nhận mà Quý khách hàng đã đăng ký khi mua hàng. Trong quá trình giao hàng nếu có sự thay đổi người nhận một cách không rõ ràng, chúng tôi có quyền từ chối giao hàng và yêu cầu quý khách hàng nhận hàng tại địa điểm của bán hàng của công ty.<br />
                – Nếu địa chỉ giao hàng không rõ ràng, nằm trong ngõ ngách, hoặc ở những nơi nguy hiểm, những vùng đồi núi hiểm trở, phương tiện giao thông đi lại khó khăn, chúng tôi có quyền từ chối vận chuyển, giao nhận hàng trực tiếp.<br />
                – Trong các trường hợp bất khả kháng, do thiên tai, lũ lụt, hỏng hóc cầu phà …, chúng tôi không chịu trách nhiệm bồi thường thiệt hại phát sinh do giao hàng không đúng thời gian hoặc không vận chuyển hàng hóa đến địa điểm như đã thỏa thuận với khách hàng.<br />
                – Trường hợp chúng tôi đã vận chuyển hàng đến địa điểm giao nhận như thỏa thuận lúc mua hàng, nhưng vì một lý do nào đó khách hàng yêu cầu trả lại hàng thì lúc đó khách hàng phải chịu chi phí vận chuyển theo quy định của công ty.<br />
                – Đối với những sản phẩm nặng và cồng kềnh cần vận chuyển lên tầng mà không có thang máy đề nghị khách hàng hỗ trợ trong việc giao nhận.<br />
                – Trong những ngày đặc biệt hoặc các ngày Lễ hội do chính sách giao thông chung bị hạn chế (cấm đường đối với một số phương tiện…) thời gian giao hàng có thể sẽ thay đổi, Chúng tôi sẽ gọi điện cho khách hàng để thống nhất thời gian giao nhận.<br />
            </p>
        </div>
    </div>
</section>


