
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-10% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 about-left-w3pvt offset-lg-1">
                <div class="main-img">
                    <img src="~/Content/images/ab.jpg" alt="" class="img-fluid pos-aboimg">
                    <img src="~/Content/images/images.jpg" alt="" class="img-fluid pos-aboimg2">
                </div>
            </div>

            <div class="col-lg-6 about-right offset-lg-1" style="text-align:justify!important">
                <h3 class="sub-tittle-w3layouts let" style="color:darkgreen!important">Giới thiệu</h3>
                <p class="mt-4 mb-5" style="color:gray !important">
                    Công ty TNHH Webcaycanh được thành lập vào ngày 10 tháng 10 năm 2015, với sứ mệnh mang đến không gian xanh cho mọi người, chia sẻ kinh nghiệm và kiến thức chăm sóc cây cảnh. Đến với Web Cây Cảnh không đơn giản chỉ là mua cây, mà chúng tôi còn hướng dẫn quý khách hàng cách chăm sóc, cách khắc phục khi cây gặp phải vấn đề không tốt, cây cảnh mua tại cửa hàng đều được bảo hành 7 ngày đến 30 ngày tùy vào cây to hay nhỏ, để đảm bảo sản phẩm hoàn toàn là chất lượng không bị ủ bệnh trước khi mua.<br/>
                    Ngoài ra nếu quý khách không mua cây tại cửa hàng, mà mua ở bất kỳ đâu khi gặp vấn đề hãy cứ liên hệ với chúng tôi, chúng tôi sẵn sàng tư vấn miễn phí và nhiệt tình, để cây có thể tốt trở lại.
                </p>
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Lê Văn Long</span>Giám đốc công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
            <br/><br/>
            <div style="text-align:justify!important">
                <p class="mt-4 mb-5" style="color:gray !important">
                    <h4>Chúng tôi làm những gì?</h4>
                    Công ty TNHH Webcaycanh làm 3 hạng mục chính:<br />
                    – Bán Cây Cảnh để bàn, văn phòng, nội thất, phong thủy…<br />
                    – Chăm sóc cây cho văn phòng, tòa nhà, tại nhà.<br />
                    – Thiết kế và tư vấn bố trí cây xanh.<br />
                    Trong thời gian hoạt động và làm việc chúng tôi đã bán và hỗ trợ chăm sóc rất nhiều cây cảnh, cũng đã làm nhiều dự án lớn cho các đối tác như: Viettel, Mobifone, Ivy, Vietjet, Euro Window, khách sạn 4* Sky, quán cafe…<br />
                    <h3>Một số hình ảnh dự án:</h3>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="text-align:center"><img src="~/Content/images/du-an-cafe.jpg"style="height:60%; width:100%"/><br/>Setup cây cảnh cho quán cafe</div>
            <div class="col-md-4" style="text-align:center"><img src="~/Content/images/du-an-cay-canh-viettel.jpg"style="height:60%; width:100%" /><br />Dự án 6200 cây làm quà tặng cho Viettel</div>
            <div class="col-md-4" style="text-align:center"><img src="~/Content/images/du-an-khach-san.jpg"style="height:60%;width:100%" /><br />Dự án setup cây cảnh cho khách sạn 4 sao</div>
        </div>
    </div>
</section>


