
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<section class="about" id="about" style="margin-top:-17% !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-right offset-lg-1">
                <ul class="author list-unstyled d-flex">
                    <li><img class="img-fluid rounded-circle" src="~/Content/images/te1.jpg" alt=""></li>
                    <li class="ml-4 mt-4"><span>Lê Văn Long</span>Giám đốc công ty TNHH Webcaycanh.<br />Địa chỉ: TP Hải Dương, tỉnh Hải Dương, Việt Nam.</li>
                </ul>
            </div>
        </div>
        <div style="text-align:justify !important">
            <p class="mt-4 mb-5" style="color:black; font-style:oblique !important">
                <h3 style="color:forestgreen; text-align:center"><b>Liên hệ</b></h3>
                Để giải đáp những băn khoăn thắc mắc của bạn như:<br />
                -Bạn muốn trang trí bàn làm việc phải chọn loại cây gì?<br />
                -Nên để những loại cây như thế nào để phù hợp với bạn?<br />
                -Lựa chọn thế nào để có mức giá hợp lý nhất và vẫn đảm bảo mong muốn?<br />
                -Khi cây có hiện tượng váng lá, nhũn lá…Thì phải khắc phục ra sao?<br />
                -Nếu bạn mua nhiều thì bên web cây cảnh sẽ có ưu đãi thế nào?<br />
                -Muốn làm theo mẫu mình ưa thích thì phải làm gì?<br />
                Nếu bạn có những thắc mắc như vậy hoặc nhiều hơn thế. Đừng ngại hãy liên hệ với chúng tôi qua số điện thoại:<b style="color:red"> 09888.33.653</b><br />
                Rất vui và vinh dự khi được phục vụ quý khách hàng<br />
                <b>=> Hà Nội:</b> Số 60 – Ngõ 235 – Yên Hòa – Cầu Giấy – Hà Nội. Điện thoại:<b style="color:red"> 09888.33.653</b> ( Gần đường Trung Kính )<br />
                <b>=> Hồ Chí Minh:</b> Villa 6, Hẻm 21, Đào Duy Anh, Phường 9, Quận Phú Nhuận. Điện thoại:<b style="color:red"> 0909.28.5658 </b><br />
                Đi vào hẻm 21 rẽ phải đến khu sân bóng đi thẳng vào là tới, hoặc hỏi bảo vệ nhà villa 6
                Công Ty TNHH WEBCAYCANH<br />
                <b>Văn Phòng:</b> Số 3, phố Hoàng Lộc, Khu 17, Phường Lê Thanh Nghị, Thành Phố Hải Dương<br />
                <b>Người đại diện:</b> Nguyễn Minh Huy<br />
                <b>Mã Số Thuế:</b><b style="color:red">0801244382</b><br />
                <b>Tài khoản ngân hàng:</b> 0341007114108<br />
                <b>Ngân Hàng:</b> Vietcombank<br />
                <b>Chi Nhánh:</b> Hải Dương<br />
                <b>Phản ánh thái độ phục vụ:</b><b style="color:red"> 0966.56.1589</b><br />
                <b>Thời gian bán hàng:</b> 8h sáng đến 20h các ngày trong tuần<br />
            </p>
        </div>
    </div>
</section>


